<?xml version='1.0' encoding='utf-8'?>
<widget id="com.atsistemas.Hybreed"
        version="0.0.1"
        date="21/07/2016"
        environment="PRO"
        xmlns="http://www.w3.org/ns/widgets"
        xmlns:cdv="http://cordova.apache.org/ns/1.0"
        xmlns:rim="http://www.blackberry.com/ns/widgets">
    <name>Hybreed</name>
    <description>Hybreed</description>
    <author email="cem@atsistemas.com" href="http://www.atsistemas.com">atSistemas S.A.</author>
    <access origin="*"/>
    <content src="index.html"/>
    <preference name="Fullscreen" value="true"/>
    <preference name="Orientation" value="portrait"/>
    <preference name="DisallowOverscroll" value="true"/>
    <preference name="HideKeyboardFormAccessoryBar" value="true"/>
    <preference name="MediaPlaybackRequiresUserAction" value="false"/>
    <preference name="UIWebViewBounce" value="false"/>
    <preference name="AutoHideSplashScreen" value="false"/>
    <preference name="ShowSplashScreenSpinner" value="false"/>
    <rim:permissions>
    </rim:permissions>
    <allow-intent href="http://*/*"/>
    <allow-intent href="https://*/*"/>
    <allow-navigation href="http://*/*" />
    <allow-navigation href="https://*/*" />
    <allow-intent href="tel:*"/>
    <allow-intent href="sms:*"/>
    <allow-intent href="mailto:*"/>
    <allow-intent href="geo:*"/>
    <platform name="android">
        <allow-intent href="market:*"/>
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*"/>
        <allow-intent href="itms-apps:*"/>
    </platform>
    <platform name="windows">
    </platform>
    <engine name="ios" spec="^3.8.0"/>
    <engine name="android" spec="^5.0.0"/>
    <plugin name="cordova-plugin-console" spec="1.0.x"/>
    <plugin name="cordova-plugin-device" spec="1.1.x"/>
    <plugin name="cordova-plugin-dialogs" spec="1.2.x"/>
    <plugin name="cordova-plugin-network-information" spec="1.2.x"/>
    <plugin name="cordova-plugin-splashscreen" spec="4.0.x"/>
    <plugin name="cordova-plugin-whitelist" spec="1.2.x"/>
</widget>
